<div class="main-container">
    <div class="header">
      <div class="title">Job</div>
    </div>
    <div class="card">
      <div style="width: 60%" *ngIf="form">
        <form [formGroup]="form" (submit)="onSubmit()">
  
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="heading" type="text" />
  
            <mat-error *ngIf="form.get('heading').invalid"
              >Please enter heading.</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" type="description" rows="10"></textarea>
            <mat-error *ngIf="form.get('description').invalid"
              >Please enter description.</mat-error
            >
          </mat-form-field>
          
          <button class="submit-button" type="submit">Save Job</button>
        </form>
      </div>
    </div>
  </div>
  