.title{
    font-family: DM Sans;
font-size: 28px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
color: #000000;
margin-block: 20px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5%;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%;
    padding-bottom: 30px !important;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}
.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.active{
    background-color: #000000;
    color: white;
}


 ::ng-deep .mat-form-field.border {
    border-radius: 50% !important;
  }
  
  ::ng-deep  mat-form-field {
    width: 100%;
  }
  
  form {
    margin-top: 10%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
  
  .submit-button{
    background-color: #263238;
    color: white !important;
    height: 60px;
    
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 12px;
    border: none;
    padding-inline: 20px;
  }
  

  ::ng-deep .mdc-text-field:focus {
    background-color: white;

  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white;
  }

input[type="file"] {
    position: absolute;
    visibility: hidden;
}
.image-button{
  margin-bottom: 10px;
  width: 120px;
  border: 1px solid rgb(199, 199, 199) !important;
}

.display-image img{
  object-fit: cover;
  width: 150px;
  margin-right: 20px;
  height: 150px;
  border: none;
} 
.banner-logo img{
  object-fit: cover;
  width: 112px;
  margin-right: 20px;
  height: 112px;
  border: none;
} 
