<div class="main-container">
  <div class="header">
    <div class="title">Blog</div>
  </div>
  <div class="card">
    <div style="width: 60%" *ngIf="form">
      <form [formGroup]="form" (submit)="onSubmit()">

        <mat-form-field>
          <mat-label>Blog Heading</mat-label>
          <input matInput formControlName="heading" type="text" />

          <mat-error *ngIf="form.get('heading').invalid"
            >Please enter heading.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" type="description" rows="4"></textarea>
          <mat-error *ngIf="form.get('description').invalid"
            >Please enter description.</mat-error
          >
        </mat-form-field>
        
        <div style="display: flex; gap: 10px; margin-block: 20px">
          <div>
            <button
              class="image-button"
              mat-stroked-button
              type="button"
              (click)="imagePicker.click()"
            >
              Pick Image
            </button>
            <input
                type="file"
                #imagePicker
                (change)="onImagePicked($event)"
              />
            <div class="display-image" *ngIf="imagePreview !== '' && imagePreview">
              <img [src]="imagePreview" alt="" />

              
            </div>
          </div>
        </div>
        <button class="submit-button" type="submit">Save Blog</button>
      </form>
    </div>
  </div>
</div>
